<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Progreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Título -->
  <h2>Tu avance en la app</h2>

  <!-- Barra de progreso -->
  <ion-progress-bar
    [value]="progreso">

  </ion-progress-bar>

  <br>

  <!-- Texto porcentaje -->
  <p>
    Has completado el {{progreso * 100}} %
  </p>

  <br>

  <!-- Lista módulos -->
  <ion-list>

    <ion-item>
      ✅ Módulos educativos
    </ion-item>

    <ion-item>
      ✅ Simulación completada
    </ion-item>

    <ion-item>
      ⚠️ Encuesta pendiente
    </ion-item>

  </ion-list>

  <br>

  <!-- Mensaje -->
  <h3>
    {{mensaje}}
  </h3>

  <br><br>

  <!-- BOTÓN VOLVER -->
  <ion-button
    expand="block"
    color="dark"
    routerLink="/home">

    ⬅ Volver al menú

  </ion-button>

</ion-content>