<ion-header>
  <ion-toolbar color="primary">
    <ion-title>OVA NEQUI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="text-align:center">
    <h2>Bienvenido</h2>
    <p>Accede a tu aprendizaje</p>
  </div>

  <ion-item>
    <ion-input
      [(ngModel)]="email"
      placeholder="Correo electrónico"
      type="email">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      [(ngModel)]="password"
      type="password"
      placeholder="Contraseña">
    </ion-input>
  </ion-item>

  <br>

  <ion-button expand="full" (click)="login()">
    Iniciar sesión
  </ion-button>

  <br>

  <h3 *ngIf="mensaje">{{mensaje}}</h3>

</ion-content>