<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Módulos educativos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Título -->
  <h2>¿Qué es Nequi?</h2>

  <!-- Descripción -->
  <p>
    Nequi es una aplicación financiera que permite enviar dinero,
    pagar servicios y recibir pagos desde tu celular.
  </p>

  <!-- Lista -->
  <h3>¿Para qué sirve?</h3>

  <ul>
    <li>Enviar dinero</li>
    <li>Recibir pagos</li>
    <li>Pagar servicios</li>
  </ul>

  <br>

  <!-- VIDEO YOUTUBE -->
  <h3>Video educativo</h3>

  <iframe
    width="100%"
    height="220"
    src="https://www.youtube.com/embed/PLqZYHQ2XMQ"
    title="Video Nequi"
    frameborder="0"
    allowfullscreen>
  </iframe>

  <br><br>

  <!-- BOTÓN VOLVER -->
  <ion-button
    expand="block"
    color="dark"
    routerLink="/home">

    ⬅ Volver al menú

  </ion-button>

</ion-content>
``