<h2 *ngIf="bienvenida">{{bienvenida}}</h2>

<ion-button expand="block" color="success" routerLink="/modulos">
  📚 Módulos educativos
</ion-button>

<ion-button expand="block" color="tertiary" routerLink="/simulaciones">
  💡 Simulaciones
</ion-button>

<ion-button expand="block" color="warning" routerLink="/encuestas">
  📝 Encuestas
</ion-button>

<ion-button expand="block" color="medium" routerLink="/configuracion">
  ⚙️ Configuración
</ion-button>

<ion-button expand="block" color="primary" routerLink="/progreso">
  📊 Progreso
</ion-button>

<ion-button expand="block" color="danger" routerLink="/certificados">
  🎓 Certificados
</ion-button>
